:root {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  //   border : 1px solid red;
  box-shadow: 0 2px 4px rgba(65, 64, 64, 0.45);
  ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.login {
  background-color: blue;
  padding: 10px;
  border-radius: 25px;
}

.clock-site {
  color: red;
  position: relative;
}

// img{
//   height: 100px;
// //   position: absolute;
// //   left: 350px;
// //   top: -10px;
// }

aside {
  margin-left: 100px;
  margin-top: 100px;
  h1 {
    margin: 0;
    max-width: 350px;
    font-size: 50px;
    line-height: 60px;
  }

  p {
    max-width: 540px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: rgba(44, 42, 42, 0.75);
    margin-top: 30px;
  }

  button {
    padding: 20px;
    font-size: 16px;
    width: 260px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 1px rgba(108, 104, 104, 0.915);
  }
}

button:hover {
  background-color: white;
  color: black;
  transition: all 2s;
  cursor: grab;
  box-shadow: 2px 2px 2px 1px rgba(65, 64, 64, 0.45);
}

img {
  margin-left: 900px;
  position: relative;
  bottom: 300px;
}
